@media only screen and (max-width:992px){



    header .banner .text {
        margin-bottom: 185px;
    }

    header .banner .text h1 {
        font-size: 50px;
    }

    .second {

        padding: 70px 0px;
        color: white;
        position: relative;
        top: 0;
      }

      .margin-bottom{

        
        padding: 50px 0px;

      }

      .margin-top2{

       margin-top:100px ;

      }

      .forth-section p{
        font-size: 20px;
      }

      padding{

        margin-left: 0px;
        margin-right: 0px;
       
      }

      .bigwrapper2 {
        display: flex;
        flex-wrap: wrap;
        padding: 70px 0px;
      }
     

      .top{
        margin-top: 50px;
    }

    .red {
        padding: 75px;

      }

      .black {
        padding: 75px;

      }

      
}


@media only screen and (max-width:768px){

    header .banner .text {
        margin-bottom: 140px;
    }

    header .banner .text h1 {
        font-size: 35px;
    }

    header .banner .text a {
        padding: 15px 30px;
        font-size: 15px;
        
      }

    .top{
        margin-top: 50px;
    }

    padding{

        margin-left: 0px;
        margin-right: 0px;
       
    }

    .five-section h2{

    font-size: 40px;
    }

    .third-section h2{
        font-size: 40px;
    }

    .bigwrapper .subscribe-padding h1{
        font-size: 40px;
    }

    .margin-left{
        margin-left: 277px;
    }

    .bigwrapper2 .left{
        padding: 10% 8%;
    }

    .bigwrapper2 .right h1{
        font-size: 28px;
    }

    .bigwrapper2 .left p{
        text-align: justify ;
    }

    .trainer h1{
        font-size: 40px;
    }

    .top2{
        margin-top: 50px;
    }

    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .second h1{
        padding: 0px 15px;
    }

    .second p{
        padding: 0px 15px;
    }

    .second a{
        margin: 0px 15px;
    }

    .blog h1{
        font-size: 40px;
    }
    
    header .navbar-default .navbar-brand{
        font-size: 28px;
    }
}

@media only screen and (max-width:448px){

    header .banner .text {
        margin-bottom: 50px;
    }

    header .banner .text h1 {
        font-size: 30px;
    }

    header .banner .text a {
        padding: 10px 15px;
        font-size: 15px;
        
    }

    header .navbar-default .navbar-brand{
        font-size: 25px;
    }

    .top{
        margin-top: 50px;
    }

    padding{

        margin-left: 0px;
        margin-right: 0px;
       
    }

    .five-section h2{

    font-size: 28px;
    }

    .third-section h2{
        font-size: 40px;
    }

    .bigwrapper .subscribe-padding h1{
        font-size: 31px;
    }

    .margin-left{
        margin-left: 120px;
    }

    .bigwrapper2 .left{
        padding: 24% 8%;
        width: 100%;
    }

    .bigwrapper2 .right h1{
        font-size: 28px;
    }

    .bigwrapper2 .left p{
        text-align: justify ;
    }

    .bigwrapper2 .right{
        width: 100%;
        padding: 45px 15px;
    }

    .trainer h1{
        font-size: 30px;
    }

    .top2{
        margin-top: 50px;
    }

    .top3{
        margin-top: 50px;
    }


    .second h1{
        padding: 0px 15px;
    }

    .second p{
        padding: 0px 15px;
    }

    .second a{
        margin: 0px 15px;
    }

    .blog h1{
        font-size: 30px;
    }

    .third-section h1{
        font-size: 35px;
    }
    
}


@media only screen and (max-width:400px){

    header .banner .text {
        margin-bottom: 40px;
    }

    header .banner .text h1 {
        font-size: 25px;
    }

    header .banner .text a {
        padding: 10px 15px;
        font-size: 15px;
        
    }

    header .navbar-default .navbar-brand{
        font-size: 25px;
    }

    .top{
        margin-top: 50px;
    }

    header .banner .text p{
        font-size: 15px;
    }

    padding{

        margin-left: 0px;
        margin-right: 0px;
       
    }

    .five-section h2{

        font-size: 21px;
    }

    .third-section h2{
        font-size: 40px;
    }

    .bigwrapper .subscribe-padding h1{
        font-size: 25px;
    }

    .margin-left{
        margin-left: 76px;
    }

    .bigwrapper2 .left{
        padding: 24% 8%;
        width: 100%;
    }

    .bigwrapper2 .right h1{
        font-size: 28px;
    }

    .bigwrapper2 .left p{
        text-align: justify ;
    }

    .bigwrapper2 .right{
        width: 100%;
        padding: 45px 15px;
    }

    .trainer h1{
        font-size: 23px;
    }

    .top2{
        margin-top: 50px;
    }

    .top3{
        margin-top: 50px;
    }

    .second{

        padding: 0px;
    }

    .second h1{
        padding: 0px 15px;
        font-size: 30px;
    }

    .second p{
        padding: 0px 15px;
    }

    .second a{
        margin: 0px 15px;
        position: relative;
        top: 6;
    }

    .blog h1{
        font-size: 24px;
    }

    .blog-1 p{
        text-align: justify;
    }

    .third-section h1{
        font-size: 28px;
    }

    .red{
      
        margin: 75px 0px;
    }

    .black{
        
        margin: 75px 0px;
    }

    .forth-section{
        padding: 0px;
    }

    .forth-section h2{
        font-size: 30px;
    }

    .forth-section p{
        font-size: 15px;
        text-align: justify;
    }

    .two-people h4{
        font-size: 20px;
    }

    .two-people p{
        text-align: justify;
    }

    .two-women h4{
        font-size: 20px;
    }

    .two-women p{
        text-align: justify;
    }

    .bigwrapper2 .left h1{
        font-size: 37px;
    }
}

@media only screen and (max-width:360px){

    header .banner .text {
        margin-bottom: 40px;
    }

    header .banner .text h1 {
        font-size: 25px;
    }

    header .banner .text a {
        padding: 10px 15px;
        font-size: 15px;
        
    }

    header .navbar-default .navbar-brand{
        font-size: 25px;
    }

    .top{
        margin-top: 50px;
    }

    header .banner .text p{
        font-size: 15px;
    }

    padding{

        margin-left: 0px;
        margin-right: 0px;
       
    }

    .five-section h2{

        font-size: 21px;
    }

    .third-section h2{
        font-size: 40px;
    }

    .bigwrapper .subscribe-padding h1{
        font-size: 25px;
    }

    .margin-left{
        margin-left: 76px;
    }

    .bigwrapper2 .left{
        padding: 24% 8%;
        width: 100%;
    }

    .bigwrapper2 .right h1{
        font-size: 28px;
    }

    .bigwrapper2 .left p{
        text-align: justify ;
    }

    .bigwrapper2 .right{
        width: 100%;
        padding: 45px 15px;
    }

    .trainer h1{
        font-size: 23px;
    }

    .top2{
        margin-top: 50px;
    }

    .top3{
        margin-top: 50px;
    }

    .second{

        padding: 0px;
    }

    .second h1{
        padding: 0px 15px;
        font-size: 30px;
    }

    .second p{
        padding: 0px 15px;
    }

    .second a{
        margin: 0px 15px;
        position: relative;
        top: 6;
    }

    .blog h1{
        font-size: 24px;
    }

    .blog-1 p{
        text-align: justify;
    }

    .third-section h1{
        font-size: 28px;
    }

    .red{
      
        margin: 75px 0px;
    }

    .black{
        
        margin: 75px 0px;
    }

    .forth-section{
        padding: 0px;
    }

    .forth-section h2{
        font-size: 30px;
    }

    .forth-section p{
        font-size: 15px;
        text-align: justify;
    }

    .two-people h4{
        font-size: 20px;
    }

    .two-people p{
        text-align: justify;
    }

    .two-women h4{
        font-size: 20px;
    }

    .two-women p{
        text-align: justify;
    }

    .bigwrapper2 .left h1{
        font-size: 37px;
    }
}