.slider-items img{
    width:100%;
    
}

.slider-items{
    padding: 20px;
}



.slider{
    width: 1200px;
    margin: 0 auto;
   
}

body{
    background-color: rgb(84, 85, 84);
}
